hud_scratch.ipynb
data/multifamily_physical_inspection_scores_0321.xlsx
scratch.ipynb
data/public_housing_physical_inspection_scores_0321.xlsx
data/multifamily_physical_inspection_scores_0620.xlsx
data/multifamily-physical-inspection-scores-2016.xlsx
data/multifamily-physical-inspection-scores-2018.xlsx
data/multifamily-physical-inspection-scores-2019.xlsx
data/public_housing_physical_inspection_scores_0620.xlsx
data/public-housing-physical-inspection-scores-2016.xlsx
data/public-housing-physical-inspection-scores-2018.xlsx
data/public-housing-physical-inspection-scores-2019.xlsx
data/fire_data.db
data/opa_properties_public.csv
multi_merged.csv
data/
package.json
package-lock.json
tailwind.config.js
node_modules
fire_def_pivot.csv
nspire_demo_deficiencies.csv
rep_def_pivot.csv
report1686079434995.xls
scatch.ipynb
